<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact us !</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <form (ngSubmit)="processForm()">
      <div class="field">
        <input type="text" name="name" class="input" placeholder="Name" [(ngModel)]="name">
      </div>
      <div class="field">
        <input type="email" name="email" class="input" placeholder="Email" [(ngModel)]="email">
      </div>
      <div class="field">
        <textarea name="message" class="textarea" placeholder="What do you want ?" [(ngModel)]="message"></textarea>
      </div>
      <button class="button is-danger is-large" name="button">Envoyer</button>
      <!-- message -->
    </form>
  </div>
</section>
