<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3" *ngFor="let user of users | async">
        <div class="card">
          <div class="card-content">
            {{ user.login }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
